body{

}

i{
    font-style: normal;
}

h1{
    font-family: 'Montserrat', sans-serif;
}

/* title Section */

/* Nav Bar  */

#title{
    background-color: #ff4c68;
}

#brand{
    font-size: 40px;
    font-family: 'Fredoka One', cursive;
}

/* title */

#title-container{
    padding: 6% 15%;
}

#heading{
    font-size: 60px;
    padding-bottom: 50px;
}

.button-download-text{
    margin-left: 10px;
}

#phoneImage{
    height: 500px;
    padding-left: 150px;
    transform: rotate(20deg);
    position: absolute;
}

#features{
    background-color: white;
    position: relative;
    z-index: 1;
}

#features-section{
    padding: 80px;
    text-align: center;
}

.features-icon{
    color: #ff4c68;
    font-size: 50px;
    padding-bottom: 10px;
}

.features-icon:hover{
    color: black;
}

.nav-item{
    padding: 0px 18px;
}

.dogCom{
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 50px;
    color: white;
    font-size: 40px;
}

#testimonials{
    padding-top: 50px;
    background-color: #ff4c68;
    text-align: center;
    font-family: 'Fredoka One', cursive;
}

.testimonial-image{
    border-radius: 100%;
    width: 15%;
}

.testimonial-text{
    margin-left: 20px;
    color: white;
}

#press{
    text-align: center;
    background-color: #ff4c68;
    padding-top: 100px;
    padding-bottom: 50px;
}

.pressImage{
    width: 20%;
    padding: 0 30px;
}

#pricing{
    font-family: 'Merriweather Sans', sans-serif;
    padding: 80px 150px;
    text-align: center;
}

#pricingText{
    font-family: 'Montserrat', sans-serif;
}

#pricing-P{
    margin-bottom: 50px;
}

#cta{
    padding-top: 50px;
    height: 400px;
    background-color: #ff4c68;
    text-align: center;
}

#lastText{
    font-family: 'Merriweather Sans', sans-serif;
    color: white;
    font-size: 50px;
    margin-left: 200px;
    margin-right: 200px;
    padding-bottom: 50px;
}

#footer{
    padding-top: 6%;
    padding-bottom: 6%;
    text-align: center;
}

.social-icon{
    margin: 10px;
}

@media (max-width: 1024px){

    /* Nav Bar */

    #brand{
        font-size: 100px;
        margin-left: 20px;
    }

    #collapse-button{
        font-size: 50px;
        margin-right: 20px;
    }

    .collapse-link{
        font-size: 50px;
    }

    /* Title  */

    #title-container{
        text-align: center;
    }

    #heading{
        font-size: 100px;
    }

    .button-download{
        margin: 30px 10px;
    }

    .button-download-icon{
        font-size: 50px;
    }

    .button-download-text{
        margin-left: 10px;
        font-style: normal;
        font-size: 45px;
    }

    .features-icon{
        font-size: 130px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .features-text-h3{
        font-size: 50px;
    }

    .features-text-p{
        font-size: 30px;
    }

    .dogCom{
        font-size: 70px;
        margin-bottom: 140px;
        margin-left: 100px;
        margin-right: 100px;
    }

    .testimonial-image{
        width: 30%;
    }

    .testimonial-text{
        font-size: 50px;
    }

    .pressImage{
        width: 40%;
        margin: 50px;
    }

    #pricing{
        margin: 50px 40px;
    }

    #pricingText{
        font-size: 50px;
    }

    #pricing-P{
        font-size: 25px;
    }

    #phoneImage{
        height: 900px;
        position: static;
        transform: rotate(0deg);
        padding-left: 0px;
        padding-top: 40px;
    }

    .card-heading{
        font-size: 50px;
    }   

    .cardTitle{
        font-size: 70px;
    }

    .cardText{
        font-size: 30px;
    }

    #cardButton1{
        font-size: 50px;
    }

    #cardButton2{
        font-size: 50px;
    }

    #cardButton3{
        font-size: 50px;
    }

    #lastText{
        font-size: 70px;
    }

    /* id:cta same as title section */

    #lastText{
        font-size: 70px;
    }

    #cta{
        height: 700px;
    }

    .social-icon{
        font-size: 35px;
    }

    .copyright{
        font-size: 20px;
    }

}
